<main role="main">
   <div class="jumbotron">
        <div class="container">

<h6>Message: {{message}}</h6>
<h6>Type: {{type}}</h6>
<h6>Path: {{path}}</h6>
<h6>Value Passed: {{value}}</h6>
</div>
</div>
</main>