<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <div class="card-header">Recent Transactions</div>
                        <div class="card-body">
                            <canvas id="RecentTransactionsChart" width="100px" height="100px"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    <div class="card">
                        <div class="card-header">Transactions Chart</div>
                        <div class="card-body">
                            <canvas id="LocationTransactionsChart" width="200px" height="200px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="resultsDiv"></div>
    </div>
    <!-- this will show our spinner -->
    <div hidden id="spinner"></div>
    </div> <!-- /container -->
</main>
<script type="text/javascript" src="/assets/js/home.js"></script>