<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center mt-4">Transactions Today</h1>
      {{! <p><button id="refreshDataBtn" class="btn btn-sm btn-outline-dark">Refresh Data</button></p> }}
      <div class="form-row justify-content-center">
        <div id="tabContents" class="col-12 mb-2 mb-md-0">
          <nav id="locationTabLinks" class="nav nav-pills nav-justified"></nav>
          <div class="tab-content" id="locationsContent"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/transactions.js"></script>
</main>